import React, { PropTypes } from 'react';

const <%= helpers.capitalize(name) %> = (props, context) => {}

<%= helpers.capitalize(name) %>.propTypes = {
};

export default <%= helpers.capitalize(name) %>;